<div class="container">
    <div class="header-app">
        <h4>Home</h4>
    </div>
    <div class="menu-grid">
        <div class="row">
            <div class="col-md-6">
              <mat-card>
                  <mat-card-header>
                      <mat-card-title>Walkthroughs</mat-card-title>
                  </mat-card-header>
                  <img matCardImage src="./assets/img/building.jpg">
                  <mat-card-content>
                      <p>The walkthrough is critical and can help you avoid more work or costly repairs down the road. You should be alert and focused on this last opportunity to review the completed work.</p>
                  </mat-card-content>
                  <mat-card-footer>
                      <button class="btn-go" mat-fab routerLink="/walkthrough">Go!</button>
                  </mat-card-footer>
              </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Punch List</mat-card-title>
                    </mat-card-header>
                    <img matCardImage src="./assets/img/list.jpg">
                    <mat-card-content>
                        <p>A punch list is prepared near the end of a construction project listing work not conforming to contract specifications that the general contractor must complete prior to final payment.</p>
                    </mat-card-content>
                    <mat-card-footer>
                        <button class="btn-go" mat-fab routerLink="/punch">Go!</button>
                    </mat-card-footer>
                </mat-card>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Incidents</mat-card-title>
                    </mat-card-header>
                    <img matCardImage src="./assets/img/incident.jpg">
                    <mat-card-content>
                        <p>An incident on the other hand can refer to any even that happens; it could be positive or negative. Incidents usually have adjectives before the word, in order to explain the type of incident it is.</p>
                    </mat-card-content>
                    <mat-card-footer>
                        <button class="btn-go" mat-fab routerLink="/incidents">Go!</button>
                    </mat-card-footer>
                </mat-card>
              </div>
              <div class="col-md-6">
                  <mat-card>
                      <mat-card-header>
                          <mat-card-title>Reports</mat-card-title>
                      </mat-card-header>
                      <img matCardImage src="./assets/img/report.jpg">
                      <mat-card-content>
                          <p>Daily reporting is a data intense process. Every piece of information in the daily report is a piece of data. And that data can be analyzed by stakeholders to better understand the project.</p>
                      </mat-card-content>
                      <mat-card-footer>
                          <button class="btn-go" mat-fab routerLink="/reports">Go!</button>
                      </mat-card-footer>
                  </mat-card>
              </div>
            </div>
    </div>

</div>
