.container {
  margin: auto;
  padding-top: 20px;
  width: 100%;
}

.menu-grid {
  margin: auto;
  width: 80%;
}

.header-app {
  width: 80%;
  margin: 50px auto 20px auto;
  padding: 20px;
  text-align: center;
  background-color: #040143;
  color: #fff;
  opacity: 0.95;
  filter: alpha(opacity=95);
  border-radius: 4px;
}

.header-app h4 {
  margin: auto;
  font-size: 1.65rem;
  letter-spacing: 0.009375rem;
  text-transform: none;
  line-height: 1.5rem;
  font-weight: 550;
}

mat-card {
  margin-bottom: 40px;
  padding: 0px;
  background-color: #040143;
  color: #fff;
  opacity: 0.95;
  filter: alpha(opacity=95);
}

mat-card-header {
  display: inline;
  margin: auto;
  text-align: center;
}

.mat-card-header .mat-card-title {
  padding-top: 15px;
  margin-bottom: 15px;
}

mat-card-content {
  margin: 10px 10px 0px 10px;
  margin-bottom: 0px;
  text-align: justify;
}

.mat-card-image {
  width: 100%;
  margin: auto;
  text-align: center;
}

mat-card-footer{
  text-align: center;
}

.btn-go {
  margin: 30px;
  background-color: #2A388E;
}
