<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="isLogged" routerLink="/home"><mat-icon>home</mat-icon> Home</a>
      <a mat-list-item *ngIf="isLogged" routerLink="/walkthrough"><mat-icon>directions_walk</mat-icon> Walkthroughs</a>
      <a mat-list-item *ngIf="isLogged" routerLink="/punch"><mat-icon>list</mat-icon> Punch List</a>
      <a mat-list-item *ngIf="isLogged" routerLink="/incidents"><mat-icon>flag</mat-icon> Incidents</a>
      <a mat-list-item *ngIf="isLogged" routerLink="/reports"><mat-icon>bar_chart</mat-icon> Reports</a>
      <a mat-list-item *ngIf="!isLogged" routerLink="register"><mat-icon>person_add</mat-icon> Register</a>
      <a mat-list-item *ngIf="!isLogged" routerLink="login"><mat-icon>person</mat-icon> Login</a>
      <a mat-list-item *ngIf="isLogged" (click)="onLogout()" routerLink="login"><mat-icon>exit_to_app</mat-icon> Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="fixed-top">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{app_name}}</span>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <img class="img-logo" src="./assets/img/logo.png">
        </li>
      </ul>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
