.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #2A388E;
  color: #ffffff;
}

.mat-list-base .mat-list-item {
  color: #ffffff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #040143;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav-item {
  text-align: end;
}
.img-logo {
  width: 10%;
}

mat-icon {
  margin-right: 5px;
}
