.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #631D76;
  color: #ffffff;
}

.mat-list-base .mat-list-item {
  color: #ffffff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #231942;
}
