<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="isLogged" routerLink="/home">Home</a>
      <a mat-list-item *ngIf="isLogged" routerLink="/walkthrough">Walkthroughs</a>
      <a mat-list-item *ngIf="isLogged" routerLink="/punch">Punch List</a>
      <a mat-list-item *ngIf="isLogged" routerLink="/reports">Reports</a>
      <a mat-list-item *ngIf="!isLogged" routerLink="register">Register</a>
      <a mat-list-item *ngIf="!isLogged" routerLink="login">Login</a>
      <a mat-list-item *ngIf="isLogged" (click)="onLogout()" routerLink="login">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="fixed-top">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{app_name}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
