table {
  width: 100%;
}

.container {
  margin: auto;
  padding-top: 20px;
  width: 100%;
}

.header-app {
  width: 80%;
  margin: 50px auto 20px auto;
  padding: 20px;
  text-align: center;
  background-color: #040143;
  color: #fff;
  opacity: 0.95;
  filter: alpha(opacity=95);
  border-radius: 4px;
}

.header-app h4 {
  margin: auto;
  font-size: 1.65rem;
  letter-spacing: 0.009375rem;
  text-transform: none;
  line-height: 1.5rem;
  font-weight: 550;
}

.mat-icon {
  cursor: pointer;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

