/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  height: 100%;
}


/* Coolors Exported Palette */
/* Color Theme Swatches in Hex */
.Copy-of-night-1851685-1-hex { color: #040143; }
.Copy-of-night-1851685-2-hex { color: #23215A; }
.Copy-of-night-1851685-3-hex { color: #2A388E; }
.Copy-of-night-1851685-4-hex { color: #F0DE76; }
.Copy-of-night-1851685-5-hex { color: #E4EBDA; }

/* Color Theme Swatches in RGBA */
.Copy-of-night-1851685-1-rgba { color: rgba(4, 1, 67, 1); }
.Copy-of-night-1851685-2-rgba { color: rgba(35, 33, 90, 1); }
.Copy-of-night-1851685-3-rgba { color: rgba(42, 56, 142, 1); }
.Copy-of-night-1851685-4-rgba { color: rgba(240, 222, 118, 1); }
.Copy-of-night-1851685-5-rgba { color: rgba(228, 235, 218, 1); }

/* Color Theme Swatches in HSLA */
.Copy-of-night-1851685-1-hsla { color: hsla(242, 97, 13, 1); }
.Copy-of-night-1851685-2-hsla { color: hsla(242, 46, 24, 1); }
.Copy-of-night-1851685-3-hsla { color: hsla(231, 54, 36, 1); }
.Copy-of-night-1851685-4-hsla { color: hsla(51, 80, 70, 1); }
.Copy-of-night-1851685-5-hsla { color: hsla(84, 29, 88, 1); }
